﻿@{
    Layout = null;
}
<center>
    <table class="orendaTable" id="orendaCalc">
        <tr>
            <td colspan="3">
                <table>
                    <tr>
                        <td class="tdHeader"><span class="orendaLabel">Calculator Type</span></td>
                        <td class="tdHeader"><span class="orendaLabel">Pool Gallons</span></td>
                    </tr>
                    <tr>
                        <td style="">
                            <label class="switch">
                                <input id="chkorendoCalcType" type="checkbox" checked>
                                <div class="slider" style="width:90%">
                                    <div style="line-height:30px;width:100%"> 
                                        <div style="color:white;display:inline;width:95px;margin-top:3px;margin-left:3px;text-align:center;float:left;" id="resedentialCalcType">Residential</div>
                                        <div style="color:white;display:inline;width:95px;margin-top:3px;margin-right:3px;text-align:center;float:right;" id="commercialCalcType"> Commercial</div>
                                    </div>
                                </div>
                                <input type="hidden" id="hdnchkorendoCalcType" value="1" />
                            </label>
                        </td>
                        <td class="tdHeader"><input type="text" id="orendatxtgallonsofwater" placeholder="Enter Quantity" class="orendaTextbox" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <hr />
            </td>
        </tr>
        <tr>
            <td class="tdHeader"><span class="orendaLabel">Current Levels</span></td>
            <td class="tdItem"><span class="itemNameLabel"></span></td>
            <td class="tdHeader"><span class="orendaLabel">Desired Levels</span></td>
        </tr>
        <tr>
            <td colspan="3">
                <hr />
            </td>
        </tr>

        <tr>
            <td class="tdItem actualTempvalues">
                <div class="handle-counter" id="actualTemparature" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrenttemparature" type="text" value="80">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
            <td class="tdItem">

                <span class="itemNameLabel">Temperature</span>
            </td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredTemparature">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredtemparature" type="text" value="80">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdItem actualChlorinevalues ">
                <div class="handle-counter" id="actualChlorine" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input type="text" id="orendatxtcurrentchlorine" value="1">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
            <td class="tdItem"><span class="itemNameLabel">Chlorine*</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredChlorine">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input type="text" id="orendatxtdesiredchlorine" value="2">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="tdItem actualpHvalues">
                <div class="handle-counter" id="actualpH" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrentpH" type="text" value="7.2">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
            <td class="tdItem"><span class="itemNameLabel">pH</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredpH">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredtpH" type="text" value="7.6">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="tdItem actualCalciumvalues">
                <div class="handle-counter" id="actualCalcium" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrentcalcium" type="text" value="120">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>


            </td>
            <td class="tdItem"><span class="itemNameLabel">Calcium</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredCalcium">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredcalcium" type="text" value="220">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="tdItem actualAlkalinityvalues">
                <div class="handle-counter" id="actualAlkalinity" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrentalkalinity" type="text" value="80">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
            <td class="tdItem"><span class="itemNameLabel">Alkalinity</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredAlkalinity">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredalkalinity" type="text" value="80">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="tdItem actualStabilizervalues">
                <div class="handle-counter" id="actualStabilizer" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrentstabilizer" type="text" value="0">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>

            </td>
            <td class="tdItem"><span class="itemNameLabel">Stabilizer</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredStabilizer">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredstabilizer" type="text" value="0">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>

            </td>
        </tr>

        <tr>
            <td class="tdItem actualSalttdsvalues">
                <div class="handle-counter" id="actualSaltTds" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrentsalttds" type="text" value="0">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
            <td class="tdItem"><span class="itemNameLabel">Salt/TDS</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredSaltTds">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredsalttds" type="text" value="0">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>

        <tr>
            <td class="tdItem actualPhosphatesvalues">
                <div class="handle-counter" id="actualPhosphates" style="margin-left:20px">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtcurrentphosphates" type="text" value="500">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
            <td class="tdItem"><span class="itemNameLabel">Phosphates*</span></td>
            <td class="tdItem desiredvalues">
                <div class="handle-counter" id="desiredPhosphates">
                    <button class="counter-minus btn btn-primary">-</button>
                    <input id="orendatxtdesiredphosphates" type="text" value="0">
                    <button class="counter-plus btn btn-primary">+</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <br />
            </td>
        </tr>
        <tr>
            <td><input id="btnlsiCurrent" style="margin-left:20%" type="button" value="-0.67" class="lsiButtonRed" /></td>
            <td class="tdItem"><span class="itemNameLabel">LSI</span></td>
            <td><input id="btnlsiDesired" style="margin-left:10%" type="button" value="0.00  " class="lsiButtonGreen" /></td>
        </tr>
        <tr>
            <td colspan="3">

                *Chlorine and Phosphate level do not influence LSI calculation

                <br />
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <input type="button" class="getDosageButton" id="btnGetDosage" value="Get Dosage" />
            </td>
        </tr>

    </table>

    <div id="orendaResultsWrapper" hidden>
        <table id="orendaCalcResult" class="orendoresulttable"></table>
        <br />
        <div id="orendaDosageDetailsTablesWrapper">
        </div>
        <br />
        <button id="btnBack">Back</button>
    </div>


</center>
<link href="~/Content/orendaCalc.css" rel="stylesheet" />
<link href="~/Content/calcSwitchCss.css" rel="stylesheet" />
<link href="~/Content/numberSpinner.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/handleCounter.js"></script>
<script src="~/Scripts/orendaCalc.js"></script>