﻿
.switch {
    position: relative;
    display: inline-block;
    width: 225px;
    height: 36px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #336699;
    -webkit-transition: .4s;
    transition: .4s;
}



/*input:checked + .slider {
    background-color: #336699;
}*/

input:focus + .slider {
    box-shadow: 0 0 1px #336699;
}

input:checked + .slider:before {
    -webkit-transform: translateX(112px);
    -ms-transform: translateX(112px);
    transform: translateX(112px);
}
