﻿orendaLabel {
    font-weight: bold;
    font-size: 16pt;
}

.orendaTextbox {
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding:7px;
    border-radius: 20px;
    border: 2px solid #336699;
}

.orendaTable {
    border: 3px solid #336699;
    width: 450px;
    border-radius: 20px;
}

.orendoresultTable {
    width: 450px;
}

table.orendoresulttable tr {
    background-color: #eee;
}

table.orendoresulttable th {
    color: white;
    background-color: black;
}

.orendoresulttabletdFirstColumn {
    padding: 5px;
    width: 225px;
}

.orendoresulttabletdSecondColumn {
    padding: 5px;
    width: 45px;
}

.orendoresulttabletdThirdColumn {
    padding: 5px;
    width: 180px;
}

.productResultTable {
    width: 450px;
}

    .productResultTable > thead {
        background-color: #336699;
        color: white;
        text-align: left;
    }

table.productResultTable > tbody > tr {
    background-color: #eee;
}

table.productResultTable > tbody > th {
    color: white;
    background-color: black;
}


.tdHeader {
    width: 225px;
    text-align: center;
}

.tdItem {
    width: 150px;
    text-align: center;
}

.getDosageButton {
    padding: 10px;
    color: white;
    width: 100%;
    background-color: #336699;
    border-radius: 25px;
}

.lsiButtonRed {
    color: white;
    padding: 5px;
    background-color: red;
    width: 65%;
    border-radius: 25px;
}

.lsiButtonGreen {
    color: white;
    padding: 5px;
    background-color: green;
    width: 65%;
    border-radius: 25px;
}

.lsiButtonYellow {
    color: black;
    padding: 5px;
    background-color: yellow;
    width: 65%;
    border-radius: 25px;
}

.itemNameLabel {
    font-weight: bold;
    color: #336699;
}

.lsiButtonPurple {
    color: white;
    padding: 5px;
    background-color: purple;
    width: 65%;
    border-radius: 25px;
}
